<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="wateroneflowAuthentication"
             type="WaterOneFlow.Services.Gatekeeper.WaterOneFlowGatekeeperSection, WofAuthentication"
             allowDefinition="Everywhere" allowLocation="true"/>
  </configSections>

  <appSettings configSource="appSettings.config" />
  <connectionStrings configSource="connectionStrings.config" />
  <wateroneflowAuthentication configSource="wateroneflow.authentication.config" />
  
  <location path="Configure.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows" /> -->
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH"  >
        <credentials passwordFormat="Clear">
          <user name="cuahsi" password="test"/>
        </credentials>
      </forms>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <webServices>
      <wsdlHelpGenerator href="DefaultWsdlHelpGenerator_xmlHttp.aspx" />
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</soapExtensionImporterTypes>
			<soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <protocols>
        <add name="HttpSoap"/>
    <add name="HttpPost"/>
        <add name="HttpGet"/>
       
      </protocols>
    </webServices>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
   
	</system.web>
	<microsoft.web.services3>
		<diagnostics>
			<trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo"/>
			<detailedErrors enabled="false"/>
		</diagnostics>
    
	</microsoft.web.services3>
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="logger-debug-log.txt"/>
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
