<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenericGrabSampleFiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenericGrabSampleFiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GenericGrabSampleFiles.Properties.Settings>
            <setting name="GenericGrabSampleFiles_wof11_WaterOneFlow" serializeAs="String">
                <value>http://localhost:6278/genericODws/cuahsi_1_1.asmx</value>
            </setting>
            <setting name="GenericGrabSampleFiles_wof10_WaterOneFlow" serializeAs="String">
                <value>http://localhost:6278/genericODws/cuahsi_1_0.asmx</value>
            </setting>
        </GenericGrabSampleFiles.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <GenericGrabSampleFiles.Properties.Settings>
            <setting name="outputDir" serializeAs="String">
                <value>C:\SoftwareReleases\genericodws\lbrsampleResponses</value>
            </setting>
        </GenericGrabSampleFiles.Properties.Settings>
    </userSettings>
</configuration>