
<connectionStrings>
  <!-- release version -->
  <!-- <add name="ODDB" connectionString="Data Source=localhost;Initial Catalog=ODM_11;User=service;password=service"
      providerName="System.Data.SqlClient" /> 
      -->
  <clear />
  <add name="ODDB" connectionString="ABCD"
   providerName="System.Data.SqlClient" />

</connectionStrings>