<wateroneflowAuthentication>
 <!-- release version
 --> 
  <gatekeeper Assembely="WofAuthentication"
         Class="WaterOneFlow.Services.Gatekeeper.AlwaysTrueGatekeeper"/>
 <!-- Two options at present:
    WaterOneFlow.Services.Gatekeeper.AlwaysTrueGatekeeper
    WaterOneFlow.Services.Gatekeeper.SingleTokenGatekeeper
    
    Class="WaterOneFlow.Services.Gatekeeper.AlwaysTrueGatekeeper"
     - No gatekeeperProperties needed
     
    Class="WaterOneFlow.Services.Gatekeeper.AlwaysTrueGatekeeper"
     Requires:
       <add property="token" value="ABC123"/>
    --> 
  <gatekeeperProperties>
    <add property="token" value="a"/>
  </gatekeeperProperties>
</wateroneflowAuthentication>
  
  