<appSettings>
  <!-- release-->
  <clear />
  <add key="network" value="ODM" />
  <add key="vocabulary" value="ODM" />
  <add key="contactEmail" value="cuahsi@example.com" />
  <add key="returnUndefinedUTCorLocal" value="UTC" />
  <!-- Undefined (Default) - Return no offset, even if a UTC Offset is provided
       Local - Attempt to shift to Local time of server
       UTC - Return UTC Times
       -->
  <add key="GetValuesName" value="[YOUR DATASET] Observations" />
  <add key="serviceDescriptionPage" value="BasicData.htm" />
  <add key="serviceLevel" value="Developemental" />  
  <!-- configuration settings -->
  <add key="asmxPage" value="cuahsi_1_0.asmx" />
  <add key="asmxPage_1_1" value="cuahsi_1_1.asmx" />
  <add key="UseODForInformation" value="true" />
  <add key="UseODForSeries" value="true" />
  <!-- special logic. If UseODForValues is false, then externalGetValues is put in the serviceWsdl attribute-->
  <add key="UseODForValues" value="true" />
  <add key="externalGetValuesService" value="http://www.example.com/CUAHSIServices/CUAHSIServices" />
  <add key="requireAuthToken" value="false" />
  <add key="defaultSpatialReferenceSystemSRSID" value="4326" />
  <add key="SRSPrefix" value="EPSG:" />
  <add key="MinimalSQLDate" value="1753-01-01" />
  <add key="AdminIPAddress" value="127.0.0.1" />
  <add key="EncryptConnectionString" value="False" />
  <add key="clientIPUrl" value="http://www.ippages.com/xml/"/>
</appSettings>
