<?xml version="1.0" encoding="utf-8"?>


<configuration>  
  <appSettings>
    <add key="contactEmail" value="tester@example.com" />
    <add key="network" value="TEST1" />
    <add key="vocabulary" value="TEST2" />
  </appSettings>
  
  <system.web>
    <compilation debug="false" />
    <customErrors mode="RemoteOnly" />
  </system.web>
  
  <Install>
    <VirtualDirectory>BuildDemoTest</VirtualDirectory>
    <OutputFolder>..\genericODws_deploy\Release</OutputFolder>
    <DeploymentFolder>C:\Temp\BuildDemoSite\Test</DeploymentFolder>
  </Install>
</configuration>