<?xml version="1.0" encoding="utf-8"?>


<configuration>
  <connectionStrings>
    <!-- MyWs.config version -->
    <add name="ODDB" connectionString="Data Source=disrupter.sdsc.edu;Initial Catalog=littleBear11;User=webservice;password=webservice"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="contactEmail" value="ws@example.com" />
    <add key="network" value="UNDEFINED_NETWORK" />
    <add key="vocabulary" value="UNDEFINED_VOCABULARY" />
    <add key="SeriesName" value="My Test WS" />
    <add key="ServiceDescriptionPage" value="BasicData.htm" />
    <add key="returnUndefinedUTCorLocal" value="Undefined" />
    <!-- Undefined (Default) - Return no offset, even if a UTC Offset is provided
       Local - Attempt to shift to Local time of server
       UTC - Return UTC Times
       -->
  </appSettings>
  
  <system.web>
    <compilation debug="false" />
    <customErrors mode="RemoteOnly" />
    
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH"  >
        <credentials passwordFormat="Clear">
          <user name="cuahsi" password="test"/>
        </credentials>
      </forms>
    </authentication>
  </system.web>
  
  <Install>
    <VirtualDirectory>ODWSv11</VirtualDirectory>
    <!-- web app will be deployed to  $(DeploymentFolder)\$(VirtualDirectory) 
    Suggested: '.\virtualdirectories'
    Example: To Deploy to Temp folder use: 'C:\temp\virtualdirectories'
    -->   
    <DeploymentFolder>.\virtualdirectories</DeploymentFolder>
    <!-- If you are installing a service with multiple hosts 
    add a <HostName></HostName> 
    eg: <HostName>Moonstone</HostName> 
    <HostName>WaterServices</HostName> -->
   
  </Install>
</configuration>