<wateroneflowAuthentication>
  <gatekeeper Assembely="WofAuthentication"
         Class="WaterOneFlow.Services.Gatekeeper.AlwaysTrueGatekeeper"/>
  <!-- WaterOneFlow.Services.Gatekeeper.AlwaysTrueGatekeeper
    WaterOneFlow.Services.Gatekeeper.SingleTokenGatekeeper-->
  <gatekeeperProperties>
    <add property="token" value="a"/>
  </gatekeeperProperties>
</wateroneflowAuthentication>