
<connectionStrings>
  <!-- <add name="ODDB" connectionString="Data Source=disrupter;Initial Catalog=ODM_BIO;User=webservice;password=webservice"
      providerName="System.Data.SqlClient" /> 
      -->
  <add name="ODDB" connectionString="ABCD"
   providerName="System.Data.SqlClient" />

</connectionStrings>