<appSettings>
  <add key="network" value="ODM" />
  <add key="vocabulary" value="ODM" />
  <add key="serviceLevel" value="Developemental" />
  <add key="serviceExampleHTMLPage" value="BasicData.htm" />
  <!-- configuration settings -->
  <add key="asmxPage" value="cuahsi_1_0.asmx" />
  <add key="UseODForInformation" value="true" />
  <add key="UseODForSeries" value="true" />
  <!-- special logic. If UseODForValues is false, then externalGetValues is put in the serviceWsdl attribute-->
  <add key="UseODForValues" value="true" />
  <add key="externalGetValuesService" value="http://www.example.com/CUAHSIServices/CUAHSIServices" />
  <add key="externalGetValuesName" value="[YOUR DATASET] GetValues" />
  <add key="requireAuthToken" value="false" />
  <add key="defaultSpatialReferenceSystemSRSID" value="4326" />
  <add key="SRSPrefix" value="ESPG:" />
  <add key="MinimalSQLDate" value="1753-01-01" />
</appSettings>
