<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="network" value="ODM" />
    <add key="vocabulary" value="ODM" />
    <add key="GetValuesName" value="Local OD GetValues" />
    <add key="serviceLevel" value="Developemental" />
    <add key="serviceExampleHTMLPage" value="BasicData.htm" />

    <!-- configuration settings -->
    <add key="asmxPage" value="cuahsi_1_0.asmx" />
    <add key="UseODForInformation" value="true" />
    <add key="UseODForSeries" value="true" />
    <!-- special logic. If UseODForValues is false, then externalGetValues is put in the serviceWsdl attribute-->
    <add key="UseODForValues" value="true" />
    <add key="externalGetValuesService" value="http://www7.ncdc.noaa.gov/CUAHSIServices/CUAHSIServices" />
    
    <add key="requireAuthToken" value="false" />
    <add key="defaultSpatialReferenceSystemSRSID" value="4326" />
    <add key="SRSPrefix" value="ESPG:" />
    <add key="MinimalSQLDate" value="1753-01-01" />
  </appSettings>
  <connectionStrings>
   <!-- <add name="ODDB" connectionString="Data Source=disrupter;Initial Catalog=ODM_BIO;User=webservice;password=webservice"
      providerName="System.Data.SqlClient" /> 
      -->
     <add name="ODDB" connectionString="Data Source=disrupter.sdsc.edu;Initial Catalog=littleBearRiver;User=webservice;password=webservice"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows" /> -->
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH">
        <credentials passwordFormat="Clear">
          <user name="cuahsi" password="test" />
        </credentials>
      </forms>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <webServices>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </webServices>
    <globalization
       requestEncoding="utf-8"
       responseEncoding="utf-8"
  />

  </system.web>
  
  <microsoft.web.services3>
    <diagnostics>
      <trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
      <detailedErrors enabled="false" />
    </diagnostics>
  </microsoft.web.services3>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="logger-debug-log.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>