<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="SyncConfiguration" type="Microsoft.Synchronization.ClientServices.Configuration.SyncConfigurationSection, SyncSvcUtil, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <SyncConfiguration>
        <SyncScopes>
            <SyncScope Name="OdmScope" SchemaName="dbo" IsTemplateScope="false"
                EnableBulkApplyProcedures="false">
                <SyncTables>
                    <SyncTable Name="[GeneralCategoryCV]" GlobalName="GeneralCategoryCV"
                        SchemaName="" IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="Term" GlobalName="Term" SqlType="nvarchar"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="Definition" GlobalName="Definition" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[DataTypeCV]" GlobalName="DataTypeCV" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="Term" GlobalName="Term" SqlType="nvarchar"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="Definition" GlobalName="Definition" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Units]" GlobalName="Units" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="UnitsID" GlobalName="UnitsID" SqlType="int"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="UnitsName" GlobalName="UnitsName" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="UnitsType" GlobalName="UnitsType" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="UnitsAbbreviation" GlobalName="UnitsAbbreviation"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="false" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[SpatialReferences]" GlobalName="SpatialReferences"
                        SchemaName="" IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="SpatialReferenceID" GlobalName="SpatialReferenceID"
                                SqlType="int" IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="SRSID" GlobalName="SRSID" SqlType="int" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="SRSName" GlobalName="SRSName" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="IsGeographic" GlobalName="IsGeographic" SqlType="bit"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Notes" GlobalName="Notes" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[ValueTypeCV]" GlobalName="ValueTypeCV" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="Term" GlobalName="Term" SqlType="nvarchar"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="Definition" GlobalName="Definition" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Sources]" GlobalName="Sources" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="SourceID" GlobalName="SourceID" SqlType="int"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="Organization" GlobalName="Organization" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="SourceDescription" GlobalName="SourceDescription"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="SourceLink" GlobalName="SourceLink" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ContactName" GlobalName="ContactName" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Phone" GlobalName="Phone" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Email" GlobalName="Email" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Address" GlobalName="Address" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="City" GlobalName="City" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="State" GlobalName="State" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="ZipCode" GlobalName="ZipCode" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Citation" GlobalName="Citation" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="MetadataID" GlobalName="MetadataID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="false" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[TopicCategoryCV]" GlobalName="TopicCategoryCV"
                        SchemaName="" IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="Term" GlobalName="Term" SqlType="nvarchar"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="Definition" GlobalName="Definition" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[VariableNameCV]" GlobalName="VariableNameCV"
                        SchemaName="" IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="Term" GlobalName="Term" SqlType="nvarchar"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="Definition" GlobalName="Definition" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[SpeciationCV]" GlobalName="SpeciationCV" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="Term" GlobalName="Term" SqlType="nvarchar"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="Definition" GlobalName="Definition" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[OffsetTypes]" GlobalName="OffsetTypes" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="OffsetTypeID" GlobalName="OffsetTypeID" SqlType="int"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="OffsetUnitsID" GlobalName="OffsetUnitsID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="OffsetDescription" GlobalName="OffsetDescription"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="false" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[CensorCodeCV]" GlobalName="CensorCodeCV" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="Term" GlobalName="Term" SqlType="nvarchar"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="Definition" GlobalName="Definition" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[DataValues]" GlobalName="DataValues" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="ValueID" GlobalName="ValueID" SqlType="int"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="DataValue" GlobalName="DataValue" SqlType="float"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="ValueAccuracy" GlobalName="ValueAccuracy" SqlType="float"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="LocalDateTime" GlobalName="LocalDateTime" SqlType="datetime"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="UTCOffset" GlobalName="UTCOffset" SqlType="float"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="DateTimeUTC" GlobalName="DateTimeUTC" SqlType="datetime"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="SiteID" GlobalName="SiteID" SqlType="int" IsPrimaryKey="false"
                                IsNullable="false" />
                            <SyncColumn Name="VariableID" GlobalName="VariableID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="OffsetValue" GlobalName="OffsetValue" SqlType="float"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="OffsetTypeID" GlobalName="OffsetTypeID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="CensorCode" GlobalName="CensorCode" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="QualifierID" GlobalName="QualifierID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="MethodID" GlobalName="MethodID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="SourceID" GlobalName="SourceID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="SampleID" GlobalName="SampleID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="DerivedFromID" GlobalName="DerivedFromID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="QualityControlLevelID" GlobalName="QualityControlLevelID"
                                SqlType="int" IsPrimaryKey="false" IsNullable="false" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[QualityControlLevels]" GlobalName="QualityControlLevels"
                        SchemaName="" IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="QualityControlLevelID" GlobalName="QualityControlLevelID"
                                SqlType="int" IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="QualityControlLevelCode" GlobalName="QualityControlLevelCode"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Definition" GlobalName="Definition" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Explanation" GlobalName="Explanation" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[SampleMediumCV]" GlobalName="SampleMediumCV"
                        SchemaName="" IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="Term" GlobalName="Term" SqlType="nvarchar"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="Definition" GlobalName="Definition" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[SeriesCatalog]" GlobalName="SeriesCatalog"
                        SchemaName="" IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="SeriesID" GlobalName="SeriesID" SqlType="int"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="SiteID" GlobalName="SiteID" SqlType="int" IsPrimaryKey="false"
                                IsNullable="true" />
                            <SyncColumn Name="SiteCode" GlobalName="SiteCode" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="SiteName" GlobalName="SiteName" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="VariableID" GlobalName="VariableID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="VariableCode" GlobalName="VariableCode" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="VariableName" GlobalName="VariableName" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Speciation" GlobalName="Speciation" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="VariableUnitsID" GlobalName="VariableUnitsID"
                                SqlType="int" IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="VariableUnitsName" GlobalName="VariableUnitsName"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="SampleMedium" GlobalName="SampleMedium" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ValueType" GlobalName="ValueType" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="TimeSupport" GlobalName="TimeSupport" SqlType="float"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="TimeUnitsID" GlobalName="TimeUnitsID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="TimeUnitsName" GlobalName="TimeUnitsName" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="DataType" GlobalName="DataType" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="GeneralCategory" GlobalName="GeneralCategory"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="MethodID" GlobalName="MethodID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="MethodDescription" GlobalName="MethodDescription"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="SourceID" GlobalName="SourceID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Organization" GlobalName="Organization" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="SourceDescription" GlobalName="SourceDescription"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Citation" GlobalName="Citation" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="QualityControlLevelID" GlobalName="QualityControlLevelID"
                                SqlType="int" IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="QualityControlLevelCode" GlobalName="QualityControlLevelCode"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="BeginDateTime" GlobalName="BeginDateTime" SqlType="datetime"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="EndDateTime" GlobalName="EndDateTime" SqlType="datetime"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="BeginDateTimeUTC" GlobalName="BeginDateTimeUTC"
                                SqlType="datetime" IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="EndDateTimeUTC" GlobalName="EndDateTimeUTC"
                                SqlType="datetime" IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="ValueCount" GlobalName="ValueCount" SqlType="int"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Variables]" GlobalName="Variables" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="VariableID" GlobalName="VariableID" SqlType="int"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="VariableCode" GlobalName="VariableCode" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="VariableName" GlobalName="VariableName" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Speciation" GlobalName="Speciation" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="VariableUnitsID" GlobalName="VariableUnitsID"
                                SqlType="int" IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="SampleMedium" GlobalName="SampleMedium" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="ValueType" GlobalName="ValueType" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="IsRegular" GlobalName="IsRegular" SqlType="bit"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="TimeSupport" GlobalName="TimeSupport" SqlType="float"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="TimeUnitsID" GlobalName="TimeUnitsID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="DataType" GlobalName="DataType" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="GeneralCategory" GlobalName="GeneralCategory"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="NoDataValue" GlobalName="NoDataValue" SqlType="float"
                                IsPrimaryKey="false" IsNullable="false" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[ISOMetadata]" GlobalName="ISOMetadata" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="MetadataID" GlobalName="MetadataID" SqlType="int"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="TopicCategory" GlobalName="TopicCategory" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Title" GlobalName="Title" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Abstract" GlobalName="Abstract" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="ProfileVersion" GlobalName="ProfileVersion"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="MetadataLink" GlobalName="MetadataLink" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[LabMethods]" GlobalName="LabMethods" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="LabMethodID" GlobalName="LabMethodID" SqlType="int"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="LabName" GlobalName="LabName" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="LabOrganization" GlobalName="LabOrganization"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="LabMethodName" GlobalName="LabMethodName" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="LabMethodDescription" GlobalName="LabMethodDescription"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="LabMethodLink" GlobalName="LabMethodLink" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Methods]" GlobalName="Methods" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="MethodID" GlobalName="MethodID" SqlType="int"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="MethodDescription" GlobalName="MethodDescription"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="MethodLink" GlobalName="MethodLink" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[SampleTypeCV]" GlobalName="SampleTypeCV" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="Term" GlobalName="Term" SqlType="nvarchar"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="Definition" GlobalName="Definition" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Qualifiers]" GlobalName="Qualifiers" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="QualifierID" GlobalName="QualifierID" SqlType="int"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="QualifierCode" GlobalName="QualifierCode" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="QualifierDescription" GlobalName="QualifierDescription"
                                SqlType="nvarchar" IsPrimaryKey="false" IsNullable="false" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Samples]" GlobalName="Samples" SchemaName=""
                        IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="SampleID" GlobalName="SampleID" SqlType="int"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="SampleType" GlobalName="SampleType" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="LabSampleCode" GlobalName="LabSampleCode" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="LabMethodID" GlobalName="LabMethodID" SqlType="int"
                                IsPrimaryKey="false" IsNullable="false" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[VerticalDatumCV]" GlobalName="VerticalDatumCV"
                        SchemaName="" IncludeAllColumns="true" FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="Term" GlobalName="Term" SqlType="nvarchar"
                                IsPrimaryKey="true" IsNullable="false" />
                            <SyncColumn Name="Definition" GlobalName="Definition" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                    <SyncTable Name="[Sites]" GlobalName="Sites" SchemaName="" IncludeAllColumns="true"
                        FilterClause="">
                        <SyncColumns>
                            <SyncColumn Name="SiteID" GlobalName="SiteID" SqlType="int" IsPrimaryKey="true"
                                IsNullable="false" />
                            <SyncColumn Name="SiteCode" GlobalName="SiteCode" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="SiteName" GlobalName="SiteName" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Latitude" GlobalName="Latitude" SqlType="float"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Longitude" GlobalName="Longitude" SqlType="float"
                                IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="LatLongDatumID" GlobalName="LatLongDatumID"
                                SqlType="int" IsPrimaryKey="false" IsNullable="false" />
                            <SyncColumn Name="Elevation_m" GlobalName="Elevation_m" SqlType="float"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="VerticalDatum" GlobalName="VerticalDatum" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="LocalX" GlobalName="LocalX" SqlType="float"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="LocalY" GlobalName="LocalY" SqlType="float"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="LocalProjectionID" GlobalName="LocalProjectionID"
                                SqlType="int" IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="PosAccuracy_m" GlobalName="PosAccuracy_m" SqlType="float"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="State" GlobalName="State" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="County" GlobalName="County" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                            <SyncColumn Name="Comments" GlobalName="Comments" SqlType="nvarchar"
                                IsPrimaryKey="false" IsNullable="true" />
                        </SyncColumns>
                    </SyncTable>
                </SyncTables>
            </SyncScope>
        </SyncScopes>
        <Databases>
            <TargetDatabase Name="LcalOdm" DbServer=".\SqlExpress" DbName="LittleBear11"
                UserName="" Password="" UseIntegratedAuth="true" />
        </Databases>
    </SyncConfiguration>
</configuration>