<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SyncOdmApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SyncOdmApp.Properties.Settings.LocalDatabaseConnectionString"
            connectionString="Server=.\sqlexpress;Database=LittleBear11;Trusted_Connection=True" />
        <add name="SyncOdmApp.Properties.Settings.RemoteDatabaseConnectionString"
            connectionString="Server=.\\sqlexpress;Database=LittleBear11sync;Trusted_Connection=True"
            providerName="" />
    </connectionStrings>
    <userSettings>
        <SyncOdmApp.Properties.Settings>
            <setting name="scopeName" serializeAs="String">
                <value>OdmScope</value>
            </setting>
        </SyncOdmApp.Properties.Settings>
    </userSettings>
</configuration>