/* Content */
HTML { 
	WIDTH: 100%; 
	HEIGHT: 100%;
	OVERFLOW: hidden; 
}
	
BODY {
	WIDTH: 100%; 
	HEIGHT: 100%;
	PADDING: 0px 0px 0px 0px; 
	MARGIN: 0px; 
}

/* Left Panel */
div.leftpanel { 
	BORDER-RIGHT: black 2px solid;
	BORDER-LEFT: black 2px solid;  
	BORDER-TOP: black 2px solid;
	BORDER-BOTTOM: black 2px solid;
	padding: 10px 10px 10px 10px; 
	POSITION: absolute; 
	TOP: 40px;
	LEFT: 20px; 
	OVERFLOW: hidden; 
	WIDTH: 250px; 
	HEIGHT: 600px; 
	BACKGROUND-COLOR: white;
	font-family: Arial,Helvetica,sans-serif;
	font-size:10pt;
}

/* Logo */
div.logo {
	position:absolute;
	top: 30px;
	right: 80px;
	overflow: hidden;
	width: 200px;
	height: 100px;
	background-color: Transparent;
	text-align: center;
}

/* Google Map */
div.bubble
{
	padding: 10px 10px 10px 10px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:10pt;
	width: 250px;
}
div.map { 
	WIDTH: 100%; 
	HEIGHT: 100%; 
}
	

/* Tables */
table {
	border-collapse: collapse;
}
td {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: Black;
	padding: 0px 0px 0px 0px;
}

/* Links */
a {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10pt;
	color: Black;
}
a:visited {
	color: Black;
}
a:hover {
	color: Red;
}
		
/* Tabs */
div#tabs {
	position: absolute;
	top: 16px;
	left: 20px;
	width: 274px;
}
div.activeTab {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: Red;
	text-decoration: none;
	padding: 5px 6px 5px 6px;
	border-top: solid 2px Black;
	border-right: solid 2px Black;
	border-bottom: 0px;
	border-left: solid 2px Black;
	cursor: hand;
	background-color: White;
}
div.inactiveTab {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: Black;
	text-decoration: none;
	padding: 2px 6px 2px 6px;
	border-top: solid 1px Black;
	border-right: solid 1px Black;
	border-bottom: solid 2px black;
	border-left: solid 1px Black;
	cursor: hand;
	background-color: White;
}

/* Copyright */
.copyright {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 7pt;
	color: Black; 
}
div.copyright {
	text-align: center;
	font-size: 7pt;
	color: Black;
	POSITION: absolute; 
	TOP: 560px;
	LEFT: 40px;	
	width: 220px;
}
