<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WaterOneFlowImpl.Properties.Settings.enterpriseOD"
            connectionString="Data Source=H2O;Initial Catalog=enterpriseOD;Persist Security Info=True;User ID=webservice;Password=webservice"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>